@import url('./assets/fonts/fonts.css');

:root {
  --ui-header-height: 88px;

  --max-page-content-width: 1440px;

  /* Colors */
  --basic-white: #ffffff;
  --basic-dark-gray: #212123;
  --basic-medium-gray: #393b40;
  --basic-soft-gray: #80858b;
  --basic-light-gray: #eeeeee;
  --blue-light: #c3deff;
  --button-gradient: linear-gradient(90deg, #3D96FF 0%, #6AC76E 34.5%, #FECD3C 66%, #EA4335 100%);
  --text-gradient: linear-gradient(90.54deg, #3D96FF 14.28%, #6AC76E 38.18%, #FECD3C 60.01%, #EA4335 83.56%);
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--basic-dark-gray);
  color: var(--basic-white);
}

* {
  font-family: 'Google Sans Display', sans-serif, 'Roboto';
}

.eyebrow {
  color: var(--basic-soft-gray);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.gradient-title {
  margin: 0;
  font-size: 56px;
  font-weight: 500;
  background: linear-gradient(90.54deg, #3D96FF 14.28%, #6AC76E 38.18%, #FECD3C 60.01%, #EA4335 83.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gradient-button {
  display: inline-block;
  text-decoration: none;
  text-wrap: nowrap;
  cursor: pointer;
  padding: 1rem 2.5rem;
  color: var(--basic-white);
  border: 2px solid transparent;
  border-radius: 2.25rem;
  background:
    /* this is the background */
    linear-gradient(var(--basic-dark-gray), var(--basic-dark-gray)) padding-box,
    /* this is the border */
    var(--button-gradient) border-box;
}


header {
  position: sticky;
  height: var(--ui-header-height);
  background-color: var(--basic-dark-gray);
  border-bottom: 1px solid var(--basic-medium-gray);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>.gradient-button {
  padding: 1rem 1.5rem;
}

#hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-dark-gray);
  overflow: hidden;
  flex-direction: column-reverse;
  align-items: center;
}

.hero__image {
  width: 768px;
}

.hero__content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero__content-inner-container {
  max-width: var(--max-page-content-width);
  width: 80%;
  display: flex;
}

.hero__content {
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: auto 0;
}

.hero__content>h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 500;
  background: linear-gradient(90.54deg, #3D96FF 14.28%, #6AC76E 38.18%, #FECD3C 60.01%, #EA4335 83.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__content>h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

.hero__content>h2>br {
  display: none;
}

.youtube-embed {
  margin: 6rem auto;
}

.youtube-embed__video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  /* width: 850px; has to match the iframe width */
  -webkit-mask-image: -webkit-radial-gradient(circle,
      white 100%,
      black 100%);
  /*ios 7 border-radius-bug */
  -webkit-transform: rotate(0.000001deg);
  /*mac os 10.6 safari 5 border-radius-bug */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.youtube-embed__video-container>iframe {
  aspect-ratio: 16 / 9;
  max-width: 850px;
  width: 100%;
  height: 100%;
  margin: 0 1rem;
}

#building {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youtube-embed__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: var(--max-page-content-width);
  width: 80%;
  margin: 0 auto;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
  max-width: var(--max-page-content-width);
  width: 80%;
}

.feature>img {
  max-width: 100%;
}

.feature-content.gradient-title {
  text-align: left;
}

.feature-content>p {
  color: var(--basic-light-gray);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 2.5rem;
}

.feature-content>a {
  margin-top: 1.5rem;
}

#faq {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq {
  margin-bottom: auto;
}

footer {
  border-top: 1px solid var(--basic-medium-gray);
  margin-top: 5rem;
  padding: 2rem 2rem;
}

.footer__logos-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__inner-logos-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__logos-container img {
  width: min-content;
}

.footer__products-container {
  display: flex;
  gap: 3rem;
}

.footer__products-container>hr {
  display: none;
}

.footer__socials-inner-container {
  display: flex;
  gap: 2rem;
}

.footer__socials-inner-container>a {
  align-self: center;
}

.footer__privacy-terms {
  border-top: 1px solid var(--basic-medium-gray);
  margin-top: 2rem;
}


.footer__privacy-terms>p {
  color: var(--basic-soft-gray);
  font-size: 0.875rem;
}

.footer__privacy-terms-links {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  color: var(--blue-light);
}

.footer__privacy-terms-links>a {
  text-decoration: none;
  color: var(--blue-light);
}

@media screen and (min-width: 640px) {
  header {
    padding: 0 5rem;
  }

  footer {
    padding: 2rem 5rem;
  }

  #hero {
    background-position: right;
  }

  .hero__content {
    max-width: 70%;
    margin: auto;
  }

  .feature>img {
    max-width: 90%;
  }

  .feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    text-align: center;
  }

  .youtube-embed__title {
    align-items: center;
  }

  .youtube-embed__video-container>iframe {
    margin: 0 5rem;
  }

  .footer__logos-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem 0;
  }

  .footer__socials-inner-container {
    margin: 0 auto;
  }

  .footer__products-container>hr {
    display: block;
    border: 1px solid var(--basic-medium-gray);
    background-color: var(--basic-medium-gray);
    color: var(--basic-medium-gray);
  }

  .footer__inner-logos-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    margin: 0 auto;
  }

  .footer__privacy-terms-links {
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
  }
}

@media screen and (min-width: 768px) {
  .hero__image {
    width: 1024px;
  }
}

@media screen and (min-width: 1024px) {
  #hero {
    flex-direction: row;
    align-items: normal;
    background-image: url('./assets/hero-image.png');
    background-repeat: no-repeat;
  }

  .hero__content {
    text-align: start;
    width: fit-content;
    margin: auto 0;
  }

  .hero__content>h2>br {
    display: block;
  }

  .hero__content-container {
    position: absolute;
  }

  .hero__image {
    visibility: hidden;
    height: 700px;
    width: unset;
  }
  
  .feature {
    flex-direction: row;
    margin: 5rem auto;
    gap: 5rem;
  }

  .feature-content {
    display: block;
    max-width: 45%;
  }

  .feature.reverse {
    flex-direction: row-reverse;
  }

  .feature>img {
    max-width: 50%;
  }

  .footer__socials-inner-container {
    margin: 0;
  }

  .footer__inner-logos-container {
    margin: 0;
  }

  .footer__privacy-terms {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .footer__privacy-terms-links {
    flex-direction: row;
    align-items: start;
    margin: 1rem 0 0;
  }
}